@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-brand-bg: #FDFCFB;
  --color-brand-text: #2D2926;
  --color-brand-muted: #8C857E;
  --color-brand-accent-sage: #5B634E;
  --color-brand-accent-gold: #A68966;
  --color-brand-border: #EAE6E1;
  --color-brand-surface: #F3F1EF;
}

body {
  @apply font-sans bg-brand-bg text-brand-text antialiased;
}

h1, h2, h3, h4 {
  @apply font-serif italic;
}

